Repository ChecKMarKDevTools/rai-lint: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-node, lint-python, test-node, test-python

format:
  run: npm run format
  stage_fixed: true

lint-node:
  run: cd packages/node-commitlint && npm run lint
  stage_fixed: true

lint-python:
  run: cd packages/python-gitlint && uv run black checkmark_rai_lint/ tests/ && uv run isort checkmark_rai_lint/ tests/
  stage_fixed: true

test-node:
  run: cd packages/node-commitlint && npm test

test-python:
  run: cd packages/python-gitlint && uv run pytest tests/ -v

ci(release): remove redundant lock file auto-commits from workflow
  .github/workflows/release-please.yml
Due: none

ci(release): enable deterministic dependency installation
  .github/workflows/release-please.yml
Due: none

fix(ci): consolidate release artifacts and auto-commit locks (#13)
  .github/workflows/release-please.yml
  .github/workflows/test-and-build.yml
  package-lock.json
  packages/python-gitlint/uv.lock
Due: format

chore: force new versions for both packages
  .github/workflows/test-and-build.yml
  release-please-config.json
Due: format

ci: harden release and security audit workflows
  .github/dependabot.yml
  .github/scripts/inject-wheel-sbom.py
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  Makefile
  package-lock.json
  package.json
  packages/node-commitlint/package.json
  packages/python-gitlint/uv.lock
  release-please-config.json
Due: format

ci: secure lockfile refresh and add SonarCloud scan
  .github/scripts/inject-wheel-sbom.py
  .github/workflows/lockfile-refresh.yml
  .github/workflows/test-and-build.yml
Due: none

ci: fix sha pin for sonar
  .github/workflows/test-and-build.yml
Due: none

chore: Fix releases again still (#15)
  .github/dependabot.yml
  .github/scripts/inject-wheel-sbom.py
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  Makefile
  package-lock.json
  package.json
  packages/node-commitlint/package.json
  packages/python-gitlint/uv.lock
  release-please-config.json
Due: format

Revert summary changes in release-please.yml
  .github/workflows/release-please.yml
Due: none

Revert release-please config to create immediate release
  release-please-config.json
Due: format

ci: update codecov actions, add env vars, and fix doc link
  .github/workflows/test-and-build.yml
  README.md
Due: format

fix(ci): fix sonar organization case
  sonar-project.properties
Due: none

fix: update release-please config for correct package names and settings
  release-please-config.json
Due: format

fix: restrict lockfile-refresh workflow execution
  .github/workflows/lockfile-refresh.yml
  packages/node-commitlint/vitest.config.ts
Due: format

fix: coverage paths, Codecov actions, SonarCloud artifacts
  .github/workflows/test-and-build.yml
  sonar-project.properties
Due: none

test: add assertions to performance tests
  benchmarks/node-benchmark.test.ts
  benchmarks/python_benchmark.py
Due: format

Apply suggested fix to benchmarks/python_benchmark.py from Copilot Autofix
  benchmarks/python_benchmark.py
Due: none

refactor: improve CI, testing, and code quality
  .github/workflows/test-and-build.yml
  Makefile
  benchmarks/python_benchmark.py
  packages/node-commitlint/vitest.config.ts
  packages/python-gitlint/.gitlint
  packages/python-gitlint/tests/test_rules.py
  sonar-project.properties
Due: format, lint-python, test-python

ci: Add ready_for_review trigger and fix benchmark test cases
  .github/workflows/test-and-build.yml
  benchmarks/python_benchmark.py
Due: none

fix: remove glob match from sonar props file
  sonar-project.properties
Due: none

Potential fixes for 2 code quality findings (#21)
  .github/workflows/test-and-build.yml
  Makefile
  benchmarks/python_benchmark.py
  packages/node-commitlint/vitest.config.ts
  packages/python-gitlint/.gitlint
  packages/python-gitlint/tests/test_rules.py
  sonar-project.properties
Due: format, lint-python, test-python

chore: fix lockfile workflow; add GitHub funding file
  .github/FUNDING.yml
  .github/workflows/lockfile-refresh.yml
Due: none

ci(workflows): refactor lockfile refresh to use shared branch resolver
  .github/workflows/lockfile-refresh.yml
Due: none

ci(workflows): add git pull after checkout in lockfile refresh jobs
  .github/workflows/lockfile-refresh.yml
Due: none

chore: update changelogs to not suck
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

refactor: restructure CI/CD workflow and add comprehensive tests
  .github/scripts/inject-wheel-sbom.py
  .github/workflows/release-please.yml
  .gitignore
  Makefile
  packages/node-commitlint/LICENSE
  packages/node-commitlint/README.md
  packages/node-commitlint/package.json
  packages/node-commitlint/src/tests/index.test.ts
  packages/node-commitlint/src/tests/node-benchmark.test.ts
  packages/node-commitlint/src/tests/rai-footer-exists.test.ts
  packages/node-commitlint/vitest.config.ts
  packages/python-gitlint/MANIFEST.in
  packages/python-gitlint/README.md
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/python_benchmark.py
  sonar-project.properties
  ttd.tmp
Due: format, lint-node, lint-python, test-node, test-python

test(node-commitlint): add unit and benchmark tests
  Makefile
  packages/node-commitlint/tests/index.test.ts
  packages/node-commitlint/tests/node-benchmark.test.ts
  packages/node-commitlint/tests/rai-footer-exists.test.ts
  packages/node-commitlint/tsconfig.json
Due: format, lint-node, test-node

refactor: restructure CI/CD workflow and add comprehensive tests (#22)
  .github/scripts/inject-wheel-sbom.py
  .github/workflows/release-please.yml
  .gitignore
  Makefile
  packages/node-commitlint/LICENSE
  packages/node-commitlint/README.md
  packages/node-commitlint/package.json
  packages/node-commitlint/tests/index.test.ts
  packages/node-commitlint/tests/node-benchmark.test.ts
  packages/node-commitlint/tests/rai-footer-exists.test.ts
  packages/node-commitlint/tsconfig.json
  packages/node-commitlint/vitest.config.ts
  packages/python-gitlint/MANIFEST.in
  packages/python-gitlint/README.md
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/python_benchmark.py
  sonar-project.properties
  ttd.tmp
Due: format, lint-node, lint-python, test-node, test-python

ci: force lockfile update to execute sequentially
  .github/workflows/lockfile-refresh.yml
Due: none

chore: update changelogs
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

ci(workflows): fix release please workflow to combine versions
  .github/workflows/release-please.yml
  .gitignore
  .release-please-manifest.json
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/uv.lock
  release-please-config.json
Due: format

revert: move version to previous
  .release-please-manifest.json
  README.md
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/uv.lock
Due: format

chore: decrease dependabot frequency
  .github/dependabot.yml
Due: none

chore: reset release please versions
  .release-please-manifest.json
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/gitlint_rai/version.py
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/uv.lock
Due: format, lint-python, test-python

chore: update project structure and configurations
  .github/CODEOWNERS
  README.md
  fixtures/commit-messages.ts
  fixtures/commit_messages.py
  release-please-config.json
  sonar-project.properties
Due: format

chore: release main
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
  packages/python-gitlint/pyproject.toml
Due: format

chore: release main
  .github/workflows/release-please.yml
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
  release-please-config.json
Due: format

ci: update release-please configuration
  .github/workflows/release-please.yml
  commitlint.config.js
  release-please-config.json
Due: format

Path conditions:
  format: any of: *.{js,ts,json,md}
  lint-node: any of: packages/node-commitlint/**/*.{js,ts}
  lint-python: any of: packages/python-gitlint/**/*.py
  test-node: any of: packages/node-commitlint/**/*.{js,ts}
  test-python: any of: packages/python-gitlint/**/*.py
