Repository ChecKMarKDevTools/rai-lint: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-node, lint-python, test-node, test-python

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,json,md}"
      run: npm run format
      stage_fixed: true
    lint-node:
      glob: "packages/node-commitlint/**/*.{js,ts}"
      run: cd packages/node-commitlint && npm run lint
      stage_fixed: true
    lint-python:
      glob: "packages/python-gitlint/**/*.py"
      run: cd packages/python-gitlint && uv run black checkmark_rai_lint/ tests/ && uv run isort checkmark_rai_lint/ tests/
      stage_fixed: true
    test-node:
      glob: "packages/node-commitlint/**/*.{js,ts}"
      run: cd packages/node-commitlint && npm test
    test-python:
      glob: "packages/python-gitlint/**/*.py"
      run: cd packages/python-gitlint && uv run pytest tests/ -v

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

chore: release v0.1.2
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
  release-please-config.json
Due: format

chore: release v0.1.2
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

build: revert package versions to 0.1.1
  .release-please-manifest.json
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/gitlint_rai/version.py
  release-please-config.json
Due: format, lint-python, test-python

ci: enhance security audit workflow and release configuration
  .github/workflows/security-audit.yml
  release-please-config.json
Due: format

revert: remove label that only stores one
  release-please-config.json
Due: format

chore: update CHANGELOGs and release config for v0.1.2
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
  release-please-config.json
Due: format

chore: update CHANGELOGs and release config for v0.1.2
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

fix: add missing permission to release please job
  .github/workflows/release-please.yml
Due: none

ci: fix release-please single-tag release wiring
  .github/workflows/release-please.yml
  package-lock.json
  release-please-config.json
Due: format

ci: refactor release-please to single-tag workflow
  .github/workflows/release-please.yml
  .release-please-manifest.json
  AGENTS.md
  CHANGELOG.md
  packages/node-commitlint/CHANGELOG.md
  release-please-config.json
  version.txt
Due: format

ci: remove duplicate skip-github-release config
  release-please-config.json
Due: format

ci: fix release-please single-tag release wiring (#34)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  AGENTS.md
  CHANGELOG.md
  package-lock.json
  packages/node-commitlint/CHANGELOG.md
  release-please-config.json
  version.txt
Due: format

chore: add explicit pr pattern
  release-please-config.json
Due: format

chore: fix missing python version directive
  packages/python-gitlint/gitlint_rai/version.py
Due: lint-python, test-python

docs(changelog): rewrite 0.1.3 changelog entry in long-form
  CHANGELOG.md
Due: format

chore: adding emojis
  CHANGELOG.md
Due: format

Revert "chore: release main (#35)"
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/gitlint_rai/version.py
  version.txt
Due: format, lint-python, test-python

ci(release-please): fix release gating to detect merge commits
  .github/workflows/release-please.yml
Due: none

docs: add changelog rewrite style instructions
  AGENTS.md
Due: format

docs(changelog): add rewrite style instructions and update 0.1.3 entry
  CHANGELOG.md
Due: format

ci: automate release notes generation from CHANGELOG
  .github/workflows/release-please.yml
Due: none

chore: update commitlint package peer dep to correct version
  README.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
  lefthook.yml
  package-lock.json
  packages/node-commitlint/package.json
Due: format

chore(commitlint): fix package version
  package-lock.json
  packages/node-commitlint/package.json
Due: format

chore: fix commitlint package version (#37)
  .github/workflows/release-please.yml
  README.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
  lefthook.yml
  package-lock.json
  packages/node-commitlint/package.json
Due: format

docs(changelog): rewrite v0.1.4 entry with narrative flair
  CHANGELOG.md
Due: format

docs: enhance documentation with Signed-off-by guidance
  README.md
  docs/installation.md
  docs/usage.md
Due: format

fix(commitlint-plugin): relax peer deps to restore install
  package-lock.json
  packages/node-commitlint/package.json
  rai.md
Due: format

chore: prepare 0.1.5 release
  .github/skills/changelog-writer/SKILL.md
  .github/workflows/release-please.yml
  CHANGELOG.md
Due: format

chore: prepare 0.1.5 release
  .github/workflows/release-please.yml
Due: none

ci(release): fix gating for manifest mode
  .github/workflows/release-please.yml
Due: none

ci(release): fix manifest-mode gating for publish jobs
  .github/workflows/release-please.yml
Due: none

ci: adjust release-please initial version settings
  release-please-config.json
Due: format

chore: release 0.1.6
  CHANGELOG.md
  package-lock.json
Due: format

ci(release): Configure monorepo releases
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package-lock.json
  release-please-config.json
  version.txt
Due: format

chore: add timeout back
  .github/workflows/release-please.yml
Due: none

fix(ci): address pr review comments for release workflow
  .github/workflows/release-please.yml
Due: none

fix(ci): standardize action versions across all workflows
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
Due: none

fix(ci): standardize action versions across all workflows
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
Due: none
