Repository ChecKMarKDevTools/rai-lint: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-node, lint-python, test-node, test-python

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,json,md}"
      run: npm run format
      stage_fixed: true
    lint-node:
      glob: "packages/node-commitlint/**/*.{js,ts}"
      run: cd packages/node-commitlint && npm run lint
      stage_fixed: true
    lint-python:
      glob: "packages/python-gitlint/**/*.py"
      run: cd packages/python-gitlint && uv run black checkmark_rai_lint/ tests/ && uv run isort checkmark_rai_lint/ tests/
      stage_fixed: true
    test-node:
      glob: "packages/node-commitlint/**/*.{js,ts}"
      run: cd packages/node-commitlint && npm test
    test-python:
      glob: "packages/python-gitlint/**/*.py"
      run: cd packages/python-gitlint && uv run pytest tests/ -v

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

chore: update sonar config and docs
  docs/api-reference.md
  docs/installation.md
  packages/node-commitlint/vitest.config.ts
  sonar-project.properties
Due: format

chore: fix node build in cicd script for test and build
  .github/workflows/test-and-build.yml
Due: none

chore: fix reporting in release workflow
  .github/workflows/release-please.yml
  packages/python-gitlint/pyproject.toml
Due: none

chore: fix label on release-please
  release-please-config.json
Due: format

ci: update security audit workflow and standardize license format
  .github/workflows/security-audit.yml
  package.json
  packages/node-commitlint/package.json
  release-please-config.json
Due: format

refactor(ci): Extract license checking to dedicated script
  .github/scripts/check-licenses.py
  .github/workflows/security-audit.yml
  .gitignore
  package-lock.json
Due: format

refactor(ci): Dynamically pull Node version from Volta in workflows
  .github/scripts/check-licenses.py
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  .gitignore
Due: none

refactor(deps): simplify license validation and add Python-2.0 license
  .github/scripts/check-licenses.py
  AGENTS.md
Due: format

chore: consolidate to unified changelog and single version
  .release-please-manifest.json
  CHANGELOG.md
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

chore: prepare release 0.5.0
  CHANGELOG.md
  package-lock.json
  packages/node-commitlint/package.json
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/uv.lock
  uv.lock
Due: format

chore: prepare release 0.5.0
  .github/scripts/check-licenses.py
  .github/workflows/security-audit.yml
  .gitignore
  package-lock.json
  package.json
Due: format

refactor(ci): Extract license checking to dedicated script
  package-lock.json
  package.json
Due: format

chore: update package-lock
  package-lock.json
Due: format

build: Configure Release Please for monorepo with linked versions
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  .release-please-manifest.json
  CONTRIBUTING.md
  lefthook.yml
  package.json
  release-please-config.json
Due: format

ci: update security audit workflow and clean up
  .github/workflows/security-audit.yml
  CHANGELOG.md
  rai-lint.code-workspace
  ttd.tmp
  uv.lock
Due: format

fix(ci): configure release-please for linked versioning and label handling
  .github/workflows/release-please.yml
  .gitignore
  .release-please-manifest.json
Due: format

fix(ci): remove root package from linked versions in release-please
  .release-please-manifest.json
  release-please-config.json
Due: format

fix(ci): remove root package from linked versions in release-please
  .github/workflows/release-please.yml
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
  release-please-config.json
Due: format

fix(ci): fix release please and security workflows
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  release-please-config.json
Due: format

fix(ci): update changelog paths to root level
  release-please-config.json
Due: format

refactor(gitlint): rename package gitlint-rai and standardize build
  .github/workflows/release-please.yml
  .github/workflows/test-and-build.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  benchmarks/python_benchmark.py
  docs/api-reference.md
  docs/architecture.md
  docs/development.md
  docs/installation.md
  docs/troubleshooting.md
  lefthook.yml
  packages/python-gitlint/README.md
  packages/python-gitlint/checkmark_rai_lint/__init__.py
  packages/python-gitlint/gitlint_rai/__init__.py
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/test_integration.py
  packages/python-gitlint/tests/test_rules.py
  packages/python-gitlint/uv.lock
  release-please-config.json
  sonar-project.properties
Due: format, lint-python, test-python

chore(commitlint): harden monorepo and CI before first publish
  .github/workflows/release-please.yml
  package-lock.json
  package.json
  packages/node-commitlint/README.md
  packages/node-commitlint/package.json
Due: format

docs(gitlint): prepare package for v0.0.0 release
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/scripts/check-licenses.py
  README.md
  docs/api-reference.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
  package-lock.json
  package.json
  packages/node-commitlint/README.md
  packages/node-commitlint/package.json
  packages/python-gitlint/CHANGELOG.md
  packages/python-gitlint/README.md
Due: format

feat(gitlint): add standalone CLI wrapper and refactor trailer parsing
  packages/python-gitlint/README.md
  packages/python-gitlint/gitlint_rai/__main__.py
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/test_integration.py
  packages/python-gitlint/tests/test_rules.py
  ttd.tmp
Due: format, lint-python, test-python

fix(ci): replace Syft with cyclonedx-bom for Python SBOM generation
  .github/scripts/check-licenses.py
  .github/workflows/security-audit.yml
  ttd.tmp
Due: none

chore(gitlint): update pyproject.toml metadata for PyPI compliance
  packages/python-gitlint/pyproject.toml
Due: none

fix(gitlint): prevent ReDoS and improve docs clarity
  docs/architecture.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
  package.json
  packages/python-gitlint/gitlint_rai/__main__.py
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/test_rules.py
Due: format, lint-python, test-python

refactor(gitlint): simplify trailer parsing logic
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/tests/test_rules.py
Due: lint-python, test-python

chore: Release prep (#12)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/scripts/check-licenses.py
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  benchmarks/python_benchmark.py
  docs/api-reference.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
  lefthook.yml
  package-lock.json
  package.json
  packages/node-commitlint/README.md
  packages/node-commitlint/package.json
  packages/python-gitlint/CHANGELOG.md
  packages/python-gitlint/README.md
  packages/python-gitlint/checkmark_rai_lint/__init__.py
  packages/python-gitlint/gitlint_rai/__init__.py
  packages/python-gitlint/gitlint_rai/__main__.py
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/pyproject.toml
  packages/python-gitlint/tests/test_integration.py
  packages/python-gitlint/tests/test_rules.py
  packages/python-gitlint/uv.lock
  release-please-config.json
  sonar-project.properties
  ttd.tmp
Due: format, lint-python, test-python

feat(ci): enable test-and-build workflow on main branch pushes
  .github/workflows/test-and-build.yml
Due: none

refactor: simplify trailer parsing and fix dupe code to omit tests
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  packages/python-gitlint/gitlint_rai/rules.py
  packages/python-gitlint/tests/test_rules.py
  sonar-project.properties
Due: lint-python, test-python

ci: skip build and test jobs on release-please branches
  .github/workflows/release-please.yml
  .github/workflows/test-and-build.yml
Due: none

docs(changelog): restore narrative format after overwrite
  CHANGELOG.md
  packages/node-commitlint/CHANGELOG.md
  packages/python-gitlint/CHANGELOG.md
Due: format

fix(ci): consolidate release artifacts and auto-commit locks
  .github/workflows/release-please.yml
  .github/workflows/test-and-build.yml
  package-lock.json
  packages/python-gitlint/uv.lock
Due: format

ci(workflows): move workflow-level permissions to job-level
  .github/workflows/test-and-build.yml
Due: none
