Repository ChecKMarKDevTools/rai-lint: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-node, lint-python, test-node, test-python

format:
  run: npm run format
  stage_fixed: true

lint-node:
  run: cd packages/node-commitlint && npm run lint
  stage_fixed: true

lint-python:
  run: cd packages/python-gitlint && uv run black checkmark_rai_lint/ tests/ && uv run isort checkmark_rai_lint/ tests/
  stage_fixed: true

test-node:
  run: cd packages/node-commitlint && npm test

test-python:
  run: cd packages/python-gitlint && uv run pytest tests/ -v

chore(ci): update all GitHub Actions to latest versions
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
Due: none

chore(ci): apply correct pinning strategy for GitHub Actions
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
Due: none

Fix rp (#49)
  .github/workflows/lockfile-refresh.yml
  .github/workflows/release-please.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-build.yml
  .release-please-manifest.json
  package-lock.json
  release-please-config.json
  version.txt
Due: format

docs(readme): regroup header badges and refresh the social row
  README.md
Due: format

docs(readme): point readers at rai-commit-badge
  README.md
Due: format

test: parameterize the rejection cases in both rule suites
  packages/node-commitlint/tests/rai-footer-exists.test.ts
  packages/node-commitlint/tests/rai-signed-off-by.test.ts
Due: format, lint-node, test-node

test: parameterize the rejection cases in both rule suites (#117)
  packages/node-commitlint/tests/rai-footer-exists.test.ts
  packages/node-commitlint/tests/rai-signed-off-by.test.ts
Due: format, lint-node, test-node

docs: adding rai-commit-badge
  .github/workflows/rai-badge.yml
  README.md
Due: format

chore: Clean up comments in rai-badge.yml
  .github/workflows/rai-badge.yml
Due: none

fix: sonar update and add rai-commit-badge to readme (#118)
  .github/workflows/rai-badge.yml
  README.md
Due: format

docs: Rearrange badges and update links in README
  README.md
Due: format

fix: pin fast-uri to patch CVE-2026-16221 host confusion bug
  package-lock.json
  package.json
Due: format

docs(readme): regroup header badges and link rai-commit-badge (#116)
  README.md
  package-lock.json
  package.json
Due: format

docs: link the rai-commit-badge marketplace listing from all READMEs
  README.md
  packages/node-commitlint/README.md
  packages/python-gitlint/README.md
Due: format

docs(readme): trim license section and fix nav links
  README.md
Due: format

docs: match rai-commit-badge Related link text to its destination
  packages/node-commitlint/README.md
  packages/python-gitlint/README.md
Due: format

docs(readme): link rai-commit-badge marketplace listing and tidy README (#122)
  README.md
  packages/node-commitlint/README.md
  packages/python-gitlint/README.md
Due: format

Path conditions:
  format: any of: *.{js,ts,json,md}
  lint-node: any of: packages/node-commitlint/**/*.{js,ts}
  lint-python: any of: packages/python-gitlint/**/*.py
  test-node: any of: packages/node-commitlint/**/*.{js,ts}
  test-python: any of: packages/python-gitlint/**/*.py
